<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.future.tailormade_face_swap">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_tailormade_face_swap">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application android:theme="@style/Theme.TailorMade">
        <activity android:name=".view.FaceSwapActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.future.tailormade.faceSwap.open" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>